{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="header center">
        total: {{ pagination.getTotalItemCount }}
    </h1>
    {% for movie in pagination %}
        <div>
            <ul>
                <li>title: {{ movie.title }}</li>
                <li>tagline: {{ movie.tagline }}</li>
            </ul>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
