{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="header center">
        total: {{ pagination.getTotalItemCount }}
    </h1>
    {% for movie in pagination %}
        {% include 'Movie/list_item.html.twig' with { 'movie': movie, 'page': pagination.page } only %}
    {% endfor %}

    <div class="navigation left-align">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
